---
import BaseLayout from "src/layouts/BaseLayout.astro"
import { Letters } from "@components/Letters"
import Button from "@components/Button"
import Seal from "@components/Seal"
import Logo from "@components/Logo"
import Cal from "@components/Cal"

import Hero from "@components/sections/Hero"
import ServicesMinimal from "@components/sections/ServicesMinimal.astro"
import Services from "@components/sections/Services"
---

<BaseLayout
  description="Ruya Digital; markanıza rüya gibi dijital çözümler sunmayı amaçlayan, dijital pazarlama, sosyal medya yönetimi ve web tasarım hizmetleri veren, Denizli merkezli bir ajanstır."
>
  <Hero client:load />

  <section
    id="information"
    class="p-sectionPaddingMobile md:p-sectionPadding flex flex-col gap-16 bg-black -mt-[60vh] z-10 relative"
  >
    <!-- Heading -->
    <h2
      class="uppercase text-4xl md:text-6xl font-clash font-bold tracking-h2 rainbow-text"
    >
      Dijital potansiyeliniz<br />
      Rüya gibi <span class="underline">sonuçlar</span>
      <br />getirecek.
    </h2>
    <div class="flex flex-col md:flex-row md:justify-between [&>div]:flex-1">
      <!-- Left Section -->
      <div class="flex items-center justify-start -translate-y-1/4 opacity-95">
        <Seal />
      </div>
      <!-- Right Section -->
      <div class="flex flex-col gap-6 items-start">
        <p class="text-lg md:text-xl opacity-85">
          Eski nesil ajansların hatalarını biliyoruz. Uzun ve yorucu süreçlere
          gerek yok. Ruya Digital, kısa ve etkili bir görüşme ile ihtiyacınızı
          belirler, çözüm üretir ve sonuç sunar.
        </p>
        <p class="md:text-lg font-light opacity-75">
          Her çözümümüz, size gerçek değer katıp gelirlerinizi artırmak için
          tasarlandı. Sonuç vermeyi ve kazancınızı artırmayı seviyoruz.
          Kazandıkça büyümenizi ve her geçen gün daha büyük başarılar elde
          etmenizi sağlıyoruz.
        </p>
        <Button />
      </div>
    </div>
  </section>

  <!-- <Services client:load /> -->

  <ServicesMinimal />

  <section
    id="information"
    class="p-sectionPaddingMobile md:p-sectionPadding flex flex-col items-center gap-16 bg-black"
  >
    <Seal />
    <!-- Heading -->
    <h2
      class="uppercase text-4xl md:text-6xl font-clash font-bold tracking-h2 black-to-white-gradient-text text-center"
    >
      Hedef odaklı stratejiler.<br />
      Etkileyici markalar.
    </h2>
    <div class="flex justify-between [&>div]:flex-1">
      <!-- Left Section -->

      <!-- Right Section -->
      <div class="flex flex-col gap-6 items-center max-w-screen-lg text-center">
        <p class="text-lg md:text-xl opacity-85">
          Daha fazla insana çözüm sunmanızın tutkusuyla; sizin için dijital
          dünyada sağlam bir varlık oluşturuyor, etkili satış stratejilerimizle
          markanızı hedef kitlenizin önüne çıkartıyoruz.
        </p>
        <p class="md:text-lg font-light opacity-75">
          Sosyal medya ve web dünyasında başarılı olmak, yalnızca var olmak
          değil, fark yaratmaktan geçer. Modern çözümlerimizle sizin için o
          farkı yaratıyoruz.
        </p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="156"
          zoomAndPan="magnify"
          viewBox="0 0 48 48"
          height="156"
          preserveAspectRatio="xMidYMid meet"
          version="1.0"
          ><defs
            ><clipPath id="173fda45c9"
              ><path
                d="M 19 5.316406 L 30 5.316406 L 30 42 L 19 42 Z M 19 5.316406 "
                clip-rule="nonzero"></path></clipPath
            ><clipPath id="7636da1a33"
              ><path
                d="M 17.699219 33 L 29 33 L 29 42 L 17.699219 42 Z M 17.699219 33 "
                clip-rule="nonzero"></path></clipPath
            ></defs
          ><g clip-path="url(#173fda45c9)"
            ><path
              fill="#ffffff"
              d="M 19.804688 39.859375 C 23.203125 35.984375 27.085938 29.71875 27.84375 24.625 C 28.78125 18.367188 25.59375 10.101562 20.867188 5.898438 C 20.617188 5.675781 20.582031 5.671875 20.375 5.398438 L 20.617188 5.433594 C 21.34375 5.636719 22.664062 6.773438 23.210938 7.3125 C 27.460938 11.515625 30.285156 18.886719 29.644531 24.855469 C 29.046875 30.414062 25.210938 37.148438 21.660156 41.457031 C 21.21875 41.96875 20.445312 42.027344 19.933594 41.585938 C 19.421875 41.144531 19.367188 40.371094 19.804688 39.859375 "
              fill-opacity="1"
              fill-rule="evenodd"></path><path
              stroke-linecap="butt"
              transform="matrix(0.00223972, 0, 0, -0.00223972, 17.825929, 41.902766)"
              fill="none"
              stroke-linejoin="miter"
              d="M 885.228432 912.341671 C 2400.832589 2642.467475 4134.44655 5439.969279 4474.541844 7714.247553 C 4891.376589 10510.005279 3468.208589 14200.475239 1357.873687 16077.103632 C 1246.252667 16176.516102 1232.30004 16178.260181 1138.119805 16300.345671 L 1246.252667 16284.648965 C 1570.651256 16193.956886 2160.149765 15686.430063 2404.320746 15445.747239 C 4301.878079 13567.374769 5562.846785 10278.042847 5276.817922 7611.346926 C 5011.718001 5129.523318 3297.288903 2124.476181 1711.921609 199.013593 C 1514.840746 -29.460682 1169.513216 -55.621858 941.038942 141.459004 C 712.564667 338.539867 688.147569 683.867397 885.228432 912.341671 Z M 885.228432 912.341671 "
              stroke="#000000"
              stroke-width="4.526"
              stroke-opacity="1"
              stroke-miterlimit="2.613"></path></g
          ><g clip-path="url(#7636da1a33)"
            ><path
              fill="#ffffff"
              d="M 20.242188 33.984375 L 21.636719 39.292969 L 27.433594 38.46875 C 28.101562 38.371094 28.71875 38.835938 28.816406 39.503906 C 28.910156 40.171875 28.445312 40.792969 27.777344 40.886719 C 22.515625 41.640625 20.90625 41.871094 20.90625 41.871094 C 20.199219 41.90625 19.792969 41.636719 19.550781 40.972656 C 19.550781 40.972656 17.878906 34.625 17.875 34.605469 C 17.703125 33.953125 18.09375 33.285156 18.746094 33.113281 C 19.398438 32.941406 20.070312 33.328125 20.242188 33.984375 "
              fill-opacity="1"
              fill-rule="evenodd"></path><path
              stroke-linecap="butt"
              transform="matrix(0.0020269, 0, 0, -0.0020269, 17.825929, 41.902766)"
              fill="none"
              stroke-linejoin="miter"
              d="M 1192.097465 3906.656724 L 1880.110306 1287.582629 L 4740.085256 1694.223272 C 5069.637626 1742.403443 5374.136307 1513.065829 5422.316478 1183.513459 C 5468.569442 853.96109 5239.231828 547.535202 4909.679458 501.282238 C 2313.731845 129.331318 1519.722627 15.626115 1519.722627 15.626115 C 1170.898189 -1.718747 970.468678 131.258525 850.981854 458.883688 C 850.981854 458.883688 26.137327 3590.594802 24.21012 3600.230836 C -60.586981 3922.074379 132.133703 4251.626748 453.977245 4336.423849 C 775.820787 4421.22095 1107.300364 4230.427473 1192.097465 3906.656724 Z M 1192.097465 3906.656724 "
              stroke="#000000"
              stroke-width="5"
              stroke-opacity="1"
              stroke-miterlimit="2.613"></path></g
          ></svg
        >
      </div>
    </div>
  </section>

  <section
    id="iletisim"
    class="min-h-screen bg-black p-sectionPaddingMobile md:p-sectionPadding -scroll-my-sectionPaddingY"
  >
    <div
      class="relative border-[0.5px] border-white border-opacity-25 flex flex-col justify-center items-center rounded-default py-6 px-4 md:py-12 md:px-8"
    >
      <h2
        class="uppercase text-4xl md:text-4xl font-clash font-bold tracking-h2 mt-2 mb-4 md:mt-4 md:mb-12 text-center"
      >
        Ücretsiz Keşif Toplantısı
      </h2>
      <!-- Cal (Book Appointment) -->
      <Cal client:load />
    </div>
  </section>
</BaseLayout>
