---
import BaseLayout from "src/layouts/BaseLayout.astro"
import { Letters } from "@components/Letters"
import Button from "@components/Button"
import Seal from "@components/Seal"
import Logo from "@components/Logo"
import Cal from "@components/Cal.astro"

import Hero from "@components/sections/Hero"
import ServicesMinimal from "@components/sections/ServicesMinimal.astro"
import Services from "@components/sections/Services"
---

<BaseLayout
  description="Ruya Digital; markanıza rüya gibi dijital çözümler sunmayı amaçlayan, dijital pazarlama, sosyal medya yönetimi ve web tasarım hizmetleri veren, Denizli merkezli bir ajanstır."
>
  <Hero client:load />

  <section
    id="information"
    class="p-sectionPaddingMobile md:p-sectionPadding flex flex-col gap-16 bg-black -mt-[60vh] z-10 relative"
  >
    <!-- Heading -->
    <h2
      class="uppercase text-4xl md:text-6xl font-clash font-bold tracking-h2 rainbow-text"
    >
      Dijital potansiyeliniz<br />
      Rüya gibi <span class="underline">sonuçlar</span>
      <br />getirecek.
    </h2>
    <div class="flex flex-col md:flex-row md:justify-between [&>div]:flex-1">
      <!-- Left Section -->
      <div class="flex items-center justify-start -translate-y-1/4 opacity-95">
        <Seal />
      </div>
      <!-- Right Section -->
      <div class="flex flex-col gap-6 items-start">
        <p class="text-lg md:text-xl opacity-85">
          Eski nesil ajansların hatalarını biliyoruz. Uzun ve yorucu süreçlere
          gerek yok. Ruya Digital, kısa ve etkili bir görüşme ile ihtiyacınızı
          belirler, çözüm üretir ve sonuç sunar.
        </p>
        <p class="md:text-lg font-light opacity-75">
          Her çözümümüz, size gerçek değer katıp gelirlerinizi artırmak için
          tasarlandı. Sonuç vermeyi ve kazancınızı artırmayı seviyoruz.
          Kazandıkça büyümenizi ve her geçen gün daha büyük başarılar elde
          etmenizi sağlıyoruz.
        </p>
        <Button />
      </div>
    </div>
  </section>

  <!-- <Services client:load /> -->

  <ServicesMinimal />

  <section
    id="information"
    class="p-sectionPaddingMobile md:p-sectionPadding flex flex-col items-center gap-16 bg-black"
  >
    <Seal />
    <!-- Heading -->
    <h2
      class="uppercase text-4xl md:text-6xl font-clash font-bold tracking-h2 black-to-white-gradient-text text-center"
    >
      Hedef odaklı stratejiler.<br />
      Etkileyici markalar.
    </h2>
    <div class="flex justify-between [&>div]:flex-1">
      <!-- Left Section -->

      <!-- Right Section -->
      <div class="flex flex-col gap-6 items-center max-w-screen-lg text-center">
        <p class="text-lg md:text-xl opacity-85">
          Daha fazla insana çözüm sunmanızın tutkusuyla; sizin için dijital
          dünyada sağlam bir varlık oluşturuyor, etkili satış stratejilerimizle
          markanızı hedef kitlenizin önüne çıkartıyoruz.
        </p>
        <p class="md:text-lg font-light opacity-75">
          Sosyal medya ve web dünyasında başarılı olmak, yalnızca var olmak
          değil, fark yaratmaktan geçer. Modern çözümlerimizle sizin için o
          farkı yaratıyoruz.
        </p>
        <Button />
      </div>
    </div>
  </section>

  <section
    id="iletisim"
    class="min-h-screen bg-black p-sectionPaddingMobile md:p-sectionPadding -scroll-my-sectionPaddingY"
  >
    <div
      class="relative border-[0.5px] border-white border-opacity-25 flex flex-col justify-center items-center rounded-default py-6 px-4 md:py-12 md:px-8"
    >
      <h2
        class="uppercase text-4xl md:text-4xl font-clash font-bold tracking-h2 mt-2 mb-4 md:mt-4 md:mb-12 text-center"
      >
        Ücretsiz Keşif Toplantısı
      </h2>
      <!-- Cal (Book Appointment) -->
      <Cal />
    </div>
  </section>
</BaseLayout>
