---
import BaseLayout from "src/layouts/BaseLayout.astro"
import { Letters } from "@components/Letters"
import Button from "@components/Button"
import Seal from "@components/Seal"
import Service, { services } from "@components/Service"
import Logo from "@components/Logo"
import Cal from "@components/Cal.astro"
import { AuroraBackground } from "@components/ui/AuroraBackground.jsx"

import Hero from "@components/sections/Hero"
import Services from "@components/sections/Services"
---

<BaseLayout title="Ruya Digital" description="Meta description for the page">
  <Hero client:load />

  <Services client:load />

  <section
    id="information"
    class="p-sectionPadding flex flex-col gap-16 bg-black"
  >
    <!-- Heading -->
    <h2 class="uppercase text-xl md:text-6xl font-clash font-bold tracking-h2">
      Hedef odaklı stratejiler.<br />
      Etkileyici markalar.
    </h2>
    <div class="flex justify-between [&>div]:flex-1">
      <!-- Left Section -->
      <div class="flex items-center justify-start -translate-y-1/4">
        <Seal />
      </div>
      <!-- Right Section -->
      <div class="flex flex-col gap-6 items-start">
        <p class="text-lg md:text-xl opacity-85">
          Daha fazla insana çözüm sunmanızın tutkusuyla; sizin için dijital
          dünyada sağlam bir varlık oluşturuyor, etkili satış stratejilerimizle
          markanızı hedef kitlenizin önüne çıkartıyoruz.
        </p>
        <p class="md:text-lg font-light opacity-75">
          Sosyal medya ve web dünyasında başarılı olmak, yalnızca var olmak
          değil, fark yaratmaktan geçer. Markanızın hikayesini doğru strateji ve
          etkili içeriklerle yazıyor, dijital varlığınızı anlamlı bir hale
          getiriyoruz. Güçlü, kalıcı ve etkileyici bir marka yaratmak için
          buradayız.
        </p>
        <Button />
      </div>
    </div>
  </section>

  <section id="contact" class="min-h-screen bg-black p-sectionPadding">
    <div
      class="relative border-[0.5px] border-white border-opacity-25 md:min-h-[800px] flex flex-col justify-center items-center rounded-default"
    >
      <div class="relative"><Logo variation="ruya" /></div>
      <h2
        class="uppercase text-xl md:text-4xl font-clash font-bold tracking-h2 mt-4 mb-12"
      >
        Ücretsiz Keşif Toplantısı
      </h2>
      <!-- Cal (Book Appointment) -->
      <!-- <Cal client:load /> -->
    </div>
  </section>
</BaseLayout>
