---
import { Letters } from "@components/Letters"
---

<footer
  class="bg-black flex flex-col justify-end gap-4 md:gap-4 min-h-[30vh] md:min-h-[80vh] pt-sectionPaddingYMobile px-sectionPaddingXMobile md:pt-sectionPaddingY md:px-sectionPaddingX"
>
  <div
    class="flex flex-col flex-wrap gap-8 md:gap-4 md:flex-row md:justify-between"
  >
    <ul class="nav-ul !gap-3">
      <li>
        <a href="/gizlilik-politikasi">Gizlilik Politikası</a>
      </li>
      <li>
        <a href="/kullanma-kosullari">Kullanma Koşulları</a>
      </li>
    </ul>
    <ul class="nav-ul !gap-3">
      <li>
        <a href="/#iletisim">Hakkımızda</a>
      </li>
      <li>
        <a href="/#hizmetlerimiz">Hizmetlerimiz</a>
      </li>
      <li>
        <a href="/#iletisim">Blog</a>
      </li>
    </ul>
    <ul class="nav-ul !gap-0.5 flex-col">
      <li>
        <a href="mailto:hello@ruyadigital.com" class="!opacity-100 !text-xl">
          HELLO@RUYADIGITAL.COM
        </a>
      </li>
      <li>
        <a href="tel:+905362221429" class="!opacity-100 !text-xl">
          +90 536 222 1429
        </a>
      </li>
      <li>
        <a
          href="https://instagram.com/ruyadigitalcom"
          rel="noreferrer"
          target="_blank"
        >
          INSTAGRAM.COM/RUYADIGITALCOM
        </a>
      </li>
      <li>
        <span class="select-none">
          <!-- Live time at Turkey -->
          {
            new Date().toLocaleString("tr-TR", {
              timeZone: "Europe/Istanbul",
              hour: "numeric",
              minute: "numeric",
            })
          } | GMT+3, TR
        </span>
      </li>
    </ul>
  </div>
  <div
    id="logo-letters"
    class="relative h-[100px] md:h-[300px] overflow-hidden opacity-80"
  >
    <div
      class="relative w-full flex translate-y-[40%] md:translate-y-1/2 justify-center"
    >
      <div>
        <Letters letter="R" />
      </div>
      <div class="ml-4 md:ml-20"><Letters letter="U" /></div>
      <div class="ml-6 md:ml-24"><Letters letter="Y" /></div>
      <div class="md:ml-4"><Letters letter="A" /></div>
    </div>
  </div>
</footer>
