---
import Button from "./Button";


---

<header
  class="fixed left-0 right-0 px-sectionPaddingX py-8 flex justify-between z-20 bg-bg backdrop-blur-xl bg-black/5"
>
  <a id="header-logo" class="relative h-10" href="/">
    <img
      src="/assets/logos/logo-white.png"
      alt="Logo"
      class="h-full w-full object-fit"
      decoding="async"
      loading="lazy"
    />
  </a>
  <div class="flex items-center gap-8">
    <ul class="nav-ul">
      <li class="">
        <a href="/hakkimizda">Hakkımızda</a>
      </li>
      <li>
        <a href="/hizmetlerimiz">Hizmetlerimiz</a>
      </li>
      <li>
        <a href="/blog">Blog</a>
      </li>
    </ul>
    <Button />
  </div>
</header>
